.order
  margin-bottom: 1em

.collection
  position: relative

.item
  absolute: top 0 left 0
  background: #d0d0d0
  border-radius: 3px
  color: rgba(40, 40, 40, .8)
  display: block
  font-size: 20px
  margin-bottom: 1em
  padding: 1em
  position: absolute
  text-decoration: none
  transition: all .3s ease-in-out

  &:hover
    background: #f0f0f0
    text-decoration: none